<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <style>
        table {
            text-align: center;
            width: 75%;
        }
    </style>
</head>
<body>
<h1>Газета.ru</h1>
<hr>
<table border="1">
    <tr>
        <th>ДАТА</th>
        <th>ЗАГОЛОВОК</th>
        <th>СМИ</th>
    </tr>
    <?php foreach($news as $article): ?>
    <tr>
        <td><?php echo $article['date']; ?></td>
        <td>
            <a href="/lesson1/article.php?id=<?php echo $article['id']; ?>">
                <?php echo $article['title']; ?>
            </a>
        </td>
        <td><?php echo $article['author']; ?></td>
    </tr>
    <?php endforeach; ?>
</table>
<hr>
    <?php include __DIR__ . '/form.html'; ?>
</body>
</html>