
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Админ - панель</title>
</head>
<body>
<h1>Газета.RU</h1>
<hr>
<h2>Добавить новость</h2>
<form action="/lesson3/index.php?ctrl=News&act=Add" method="post">
    Заголовок: <input type="text" name="title"><br>
    Текст: <input type="text" name="text"><br>
    Автор <input type="text" name="author"><br>
    <input type="submit">
</form>
</body>
</html>